<div #sapWrapper></div>
<header id="email-preferences-header">
  <div class="header-container clearfix">
      <div class="header-logo">
          <a  href="/store/index" title="">
<img     src="assets/imgs/logo_pages_new.png" alt="Molton Brown London">
</a>
</div>
  </div>
</header>
<div class="conatiner newsletter-body">
  <div class="checkout-content">
    <div class="samples-container clearfix">

        <div class="confirmation-content thankyou">
          <h1>Sorry you're leaving</h1>
          <h4>
            You have been removed from our mailing list, but don't worry - if
            you change your mind you can sign up on our website
            <a routerLink="/store/browse/newsLetter" >here</a> or in one of
            our stores.
          </h4>
          <a routerLink="/store/index" class="cta" title="Continue Shopping">Continue Shopping</a>         
        </div>
      <div class="inner-container-RightBlock">
        <img src="//images.moltonbrown.co.uk/MBPromoImages/email-signup_desktop.jpg" class="desk-block" />
      </div>
    </div>
  </div>
</div>

