<form
  class="card-form-section card-entry-form"
  [formGroup]="group"
  custom-focus
>
  <div class="card_field">
    <span class="custom-dropdown big">
      <select
        formControlName="cardType"
        (change)="onChangeCardType($event)"
        class="mandatory form-control selectDropdowncard selectDropdown "
        [ngClass]="{
          'has-error  not-valid':!group.controls['cardType'].valid && group.get('cardType').touched
        }"
      >
        <option value="" selected>{{'PaymentDetails.cardType' | translate}}*</option>
        <option [value]="card.value" *ngFor="let card of cardType">{{card.content}}</option>
      </select>

      <div
        *ngIf="!group.controls['cardType'].valid && group.get('cardType').touched "
        class="not-valid-error-msg"
      >
        <span *ngIf="group.controls['cardType'].errors.required"
          >{{'savedCard.cardType' | translate}}</span
        >
      </div>
    </span>
  </div>
  <div class="form-group card_field">
    <label class="sr-only">{{'PaymentDetails.cardNumber' | translate}}</label>
    <input
      formControlName="cardNumber"
      autocorrect="off"
      autocomplete="off"
      maxlength="20"
      placeholder="{{'paymentCard.placeHCardNum' | translate}}"
      type="text"
      class="form-control  mandatory"
      required
      [ngClass]="{
        'has-error  not-valid':!group.get('cardNumber').valid && group.get('cardNumber').touched,
        'valid': group.get('cardNumber').valid
      }"
    />
    <div
      *ngIf="!group.controls['cardNumber'].valid && group.get('cardNumber').touched"
      class="not-valid-error-msg"
    >
    <!-- {{group.controls['cardNumber'].errors|json}} -->
      <span *ngIf="group.controls['cardNumber'].errors.required">
        {{'paymentCard.cardNumError' | translate}}
      </span>
      <span
        *ngIf="group.controls['cardNumber'].errors.minlength">
        {{'paymentCard.cardNumErr' | translate}}
      </span>
      <span
      *ngIf="group.controls['cardNumber'].errors.maxlength">
      {{'paymentCard.cardNumErr' | translate}}
    </span>
      <span
      *ngIf="group.controls['cardNumber'].errors.patternInvalid&&!group.controls['cardNumber'].errors.maxlength&&!group.controls['cardNumber'].errors.minlength">
      The card type and card number do not match. Please check and try again.
    </span>
    </div>
  </div>
  <div class="form-group card_field">
    <label class="sr-only">Card Holder First Name</label>
    <input
      formControlName="firstName"
      autocomplete="off"
      placeholder="{{'paymentCard.placeHFirstN' | translate}}"
      type="text"
      class="form-control  mandatory "
      [ngClass]="{
        'has-error  not-valid': !group.get('firstName').valid && group.get('firstName').touched,
        'valid': group.get('firstName').valid
      }"
      required
    />
    <div
      *ngIf="!group.controls['firstName'].valid && group.get('firstName').touched "
      class="not-valid-error-msg"
    >
      <span *ngIf="group.controls['firstName'].errors.required">
        {{'paymentCard.firstNError' | translate}}
      </span>
      <span *ngIf="group.controls['firstName'].errors.patternInvalid">
        {{'paymentCard.firstNError' | translate}}
      </span>
    </div>
  </div>
  <div class="form-group card_field reg_user">
    <label class="sr-only">Card last Name</label>
    <input
      formControlName="lastName"
      autocomplete="off"
      placeholder="{{'paymentCard.placeHLastN' | translate}}"
      type="text"
      class="form-control  mandatory "
      [ngClass]="{
        'has-error  not-valid': !group.get('lastName').valid && group.get('lastName').touched,
        'valid': group.get('lastName').valid
      }"
      required
    />
    <div
      *ngIf="!group.controls['lastName'].valid && group.get('lastName').touched"
      class="not-valid-error-msg"
    >
      <span *ngIf="group.controls['lastName'].errors.required">
        {{'paymentCard.lastNError' | translate}}
      </span>
      <span *ngIf="group.controls['lastName'].errors.patternInvalid">
        {{'paymentCard.lastNError' | translate}}
      </span>
    </div>
  </div>
  <legend class="card-expire" id="molthElement">{{'paymentCard.expires' | translate}}</legend>
  <div class="monthYearAlign ">
    <span class="custom-dropdown big card_field small-dropdown">
      <select
        #monthEl 
        formControlName="month"
        autocomplete="off"
        class="mandatory form-control selectDropdown select-month"
        data-dropup-auto="false"
        data-size="8"
        data-display="static"
        (change)="onChangeMonthOpt($event)"
        [ngClass]="{
          'has-error  not-valid':!group.controls['month'].valid && group.get('month').touched
            
        }"
      >
        <option value=""  selected >{{'newsLetter.month' | translate}}* </option
        ><option *ngFor="let month of expireMonth">{{ month.month }}</option>
      </select>
      <div
        *ngIf="!group.controls['month'].valid && group.get('month').touched"
        class="not-valid-error-msg"
      >
      <span [hidden]="
          !group.controls['month'].errors.required
        ">      
        <span *ngIf="group.controls['month'].errors.required.raiseValidate">
          {{'payDetails.expiryDate' | translate}}
        </span>
        <span *ngIf="!group.controls['month'].errors.required.raiseValidate">
          {{'paymentCard.monthError' | translate}}
        </span>
      </span>
        <span *ngIf="group.controls['month'].errors.incorrect"
        >{{'payDetails.expiryDate' | translate}}</span>
      </div>
    </span>
    <span class="custom-dropdown big card_field small-dropdown">
      <select
        formControlName="year"
        autocomplete="off"
        class="mandatory form-control selectDropdown select-year"
        data-dropup-auto="false"
        data-size="8"
        data-display="static"
        (change)="onChangeOpt($event)"
        [ngClass]="{
          'has-error  not-valid':!group.controls['year'].valid && group.get('year').touched
        }"
      >
        <option value="" selected >{{'newsLetter.year' | translate}}* </option
        ><option *ngFor="let month of expireYear">{{ month.year }}</option>
      </select>
      <div
        *ngIf="!group.controls['year'].valid && group.get('year').touched"
        class="not-valid-error-msg"
      >
        <span *ngIf="group.controls['year'].errors.required"
          >{{'paymentCard.yearError' | translate}}</span
        >
      </div>
    </span>
  </div>
  <div *ngIf="!newCard" class="securityCode card_field ">
    <label class="sr-only">Cvv</label
    ><a
      class="contextual-help"
      show-delay="100" ngbTooltip="{{'groupSecurityCode'|translate}}" [placement]="mobileDevice?'top':'right'" 
    ></a>
    <!-- {{ group.controls['cvv'].errors| json}} -->
    <input
      autocomplete="off"
      formControlName="cvv"
      placeholder="{{'paymentCard.secureCode' | translate}}"
      type="text" 
      [attr.minlength]="maxLength"
      [attr.maxlength]="maxLength"
      class="form-control  mandatory"
      [ngClass]="{
        'has-error  not-valid':!group.get('cvv').valid && group.get('cvv').touched,
        'valid': group.get('cvv').valid
      }"
    />
    <div
      *ngIf="
    
        !group.controls['cvv'].valid &&
        group.get('cvv').touched
      "
      class="not-valid-error-msg"
    >
      <span [hidden]="!group.controls['cvv'].errors.required"
        >{{'paymentCard.secureCodeErr' | translate}}</span
      >
      <span [hidden]="!group.controls['cvv'].errors.patternInvalid"
        >{{'paymentCard.secureCodeError' | translate}}</span
      >
    </div>
  </div>
</form>

