
<section class="mb-gallery">
<section class="main-section "> 
  <div class="content-container">  
      <div class="row">
          <div class="col-sm-12">
              <h1 class="main-title  font-weight-light">
                  <i class="sharingIcons pinterest" ></i> 
                  <span class="header-text uppercase vertical-align mobile-block mobile-top-margin"> 
                    Love It &amp; Share It
                  </span> 
                  <span class="header-text vertical-align">with #MoltonBrown</span>
              </h1>
              <p class="font14 width-para">
                Show us your scent and style on Instagram using #MoltonBrown for the chance to feature 
                in our gallery and win £100 worth of products each month. 
                (<a routerLink="/store/promo-terms-conditions" routerLinkActive="active"   class="black-color tc-hover" title="Terms and conditions apply">T&amp;Cs apply</a>)
              </p>
              <a href="https://www.instagram.com/moltonbrown/" target="_blank"   class="font16 margin-top-20 georgia italic black-color">Follow us on Instagram <span class="arrow-right"></span></a>                         
              <div data-crl8-container-id="custom-gallery" data-crl8-auto-init="false">
              </div> 
          </div>
      </div>
  </div>
</section>
<section class="social-section">
  <div class="content-container">
      <div class="row">
          <div class="col-sm-12">
              <h4 class="share-heading georgia italic">Share this story</h4>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-12">
              <div class="social-container flex-align justify-center">                    
                  <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.moltonbrown.co.uk/store/mb-gallery/" target="_blank"  class="social-btn social-btn-ie fb-color">
                      <span class="social-icons icon-fb" aria-hidden="true"></span>
                  </a>

                  <a href="https://twitter.com/intent/tweet?text=I%20Love%20Molton%20Brown%20Gallery%20https%3A//www.moltonbrown.co.uk/store/mb-gallery/" target="_blank"  class="social-btn social-btn-ie tw-color">
                      <span class="social-icons icon-tw" aria-hidden="true"></span>
                  </a>

                   <a href="mailto:?Subject=Thought you might like this…&amp;Body=Molton Brown Gallery%20https://www.moltonbrown.co.uk/store/mb-gallery/" target="_blank"  class="social-btn social-btn-ie em-color">
                      <span class="social-icons icon-em" aria-hidden="true"></span>
                  </a>
                  
              </div>
          </div>
     
      </div>
      
  </div>    
</section>
</section>