<div #sapWrapper></div>
<header id="email-preferences-header">
  <div class="header-container clearfix">
      <div class="header-logo">
          <a  href="/store/index" title="">
<img     src="assets/imgs/logo_pages_new.png" alt="Molton Brown London">
</a>
</div>
  </div>
</header>
<div class="conatiner newsletter-body">
  <div class="checkout-content">
    <div class="samples-container">
        <div class="confirmation-content thankyou">
          <h1>Thank you</h1>
          <h4>Your details and preferences have now been updated.</h4>
         <a routerLink="/store/index" class="cta" title="Continue Shopping">Continue Shopping</a>         
        </div>
      <div class="inner-container-RightBlock">
        <img src="//images.moltonbrown.co.uk/MBPromoImages/email-signup_desktop.jpg" class="desk-block" />
      </div>
    </div>
  </div>
</div>

