.social-section-bcc {
    padding-top: 20px;
}
.social-section-bcc {
padding-top: 24px;
text-align: center;
padding-bottom: 5px;
}
.share-heading {
font-size: 17px;
margin: 0;
}
.social-container-bcc {
padding-top: 16px;
}
.social-icons-bcc {
display: inline-block;
background: url('https://media.moltonbrown.co.uk/i/moltonbrown/social-icons.png') no-repeat;
overflow: hidden;
text-indent: -9999px;
text-align: left;
height: 25px;
}

.icon-fb {
background-size: 44px;
width: 15px;
background-position: -8px -51px;
}
.icon-tw {
background-size: 46px;
width: 28px;
background-position: -9px -23px;
}
.icon-em {
background-size: 46px;
width: 33px;
background-position: -7px 5px;
}
.fb-color {
    background: #3B5998;
}
.tw-color {
    background: #1DA1F2;
}
 .em-color {
    background: #F28D4F;
}
.social-btn-bcc {
    display: inline-flex;
        align-content: center;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        min-width: 110px;
        text-decoration: none;
        color: #fff;
        height: 37px;
        position: relative;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        margin: 0 12px;
      }
      .share-heading {
        font-weight: 500;
        font-size: 17px;
        margin: 0;
        font-style: italic;
    }