<div class="mb-breadcrumb col-sm-12" *ngIf="listData">
  <a class="mb-breadcrumb-indicator" (click)="goToHome()">&nbsp;<span class="brd-home">{{'breadcrumb.home' | translate}} &nbsp;</span></a>
  <a  
     class="mb-breadcrumb-indicator" 
     *ngFor="let data of listData" 
     [ngClass]="{'active-class':data.search}"  
     (click)="onbreadcrumbClick($event,data)" 
     >
     <span [innerHtml]="(data.categoryDisplayName)?data.categoryDisplayName:data.name"></span>
     <!-- {{(data.categoryDisplayName)?data.categoryDisplayName:data.name}} -->
  </a>
</div>

<div class="bread-crumb"> 
    <ul>
     <li (click)="goToHome()"><a  class="homelink ui-link" >
       &gt;
     </a></li>
       </ul>
     <ul class="category-root" *ngFor="let data of listData">
       <li (click)="onbreadcrumbClick(data)" [innerHtml]="(data.categoryDisplayName)?data.categoryDisplayName++'&nbsp;':data.name+'&nbsp;'">
        </li>
         <span class="nav-icon">&gt;&nbsp;</span>
     </ul>
 </div>
