
<section class="container" style="margin-top:25px;" id="specialOffer-page">
    <div class="specialoffers-slots" id="specialOffersFR"></div>
    <div class="specialoffers-slots" id="specialOfferBanner1"></div>
    <div class="specialoffers-slots" id="specialOfferBanner2"></div>
    <div class="specialoffers-slots" id="specialOfferBanner3"></div>
    <div class="specialoffers-slots" id="specialOfferBanner4"></div>
    <div class="specialoffers-slots" id="specialOfferBanner5"></div>
    <div class="specialoffers-slots" id="specialOfferBanner6"></div>
    <div class="specialoffers-slots" id="specialOfferCardlist"></div>

  </section>