
@import "../../../variable";
.my-account {
    width: 764px;
    padding: 5px 0;
    min-height: 100px;
    @media screen and(max-width:$screen-sm) {
        width:100%;    min-height: 190px;
    }
    .paymentAlign{
        margin: 15px 0;
        .cc-accountnumber{
            text-transform: uppercase;
            font-size:14px;
        }
        .col-sm-4{
            padding: 15px !important;
            @media screen and(max-width:$screen-sm) {
                padding: 0!important;
            }
        }
        p a{
            text-decoration: underline;
            color: #484848;
            font-size: 12px;
        }
    }
    h2 {
        font-size: 28px;
        margin-bottom: 0;
        padding: 0 0 14px 0;
        color: $primary-color;
    }
    p {
        color: #260e03!important;
        line-height: 20px;
        font-size: 13px!important;
        @media screen and(max-width:$screen-sm) {
            padding-top: 0!important;
        }
    }
    .edit-profile {
        border: 1px solid #aaa;
        padding: 20px 10px;
        padding: 20px 10px;
        margin: 15px 0;
        overflow-wrap: break-word;
        float: left;
        min-height: 255px;
        @media screen and(max-width:$screen-sm) {
            padding-left: 0px;
            padding-right: 0px;
            margin: 0;
            border: none; 
        }
        h3{
            font-weight: 700;
            font-size: 14px;
            color: $primary-color!important;
            padding-left: 0!important;
            padding-bottom: 10px;
        }
    }
}
.saved-cards-info {
    padding: 10px 0 20px 0!important;
}
.relativeness {
    position: relative;
    padding-bottom: 10px;
    .contextual-help{
        left:80px;
    }
}
.makeDefault {
    padding-bottom: 14px;
    padding: 20px 0 15px 0;
    b{
        font-size:14px ;
    }

}
.paymentCards{
    font-size: 14px;
    font-weight: 400;
    a{
        cursor: pointer;
    }
}
.my-account{
    b{
        font-size:14px ;
        @media screen and(max-width:$screen-sm) {
            font-size: 13px;
        }
    }   
}
.paymentCards-acc-name{
    span{
        font-size:14px;
    }
}
.paymentCards-type{
    text-transform: capitalize;
    margin-top: 15px;
}
.default-cntnt{
    position: relative;
    .contexual-content{
        width: 27%;
        @media screen and(max-width:$screen-sm) {
            width: 100%;
        }
    }
    .contextual-help {
        width:25px;
        height:25px;
        left:12.5%;
        background-size: 7px !important;
    }
}
.edit-profile{
    .default-cntnt{
        .contextual-help {
    left: 135px !important;
    top: -3px !important;
    @media screen and(max-width:$screen-sm) {
        left: auto !important;
        right: 30%;
    }
        }
    } 
}
.display-overlay {
    display: block;
    top: 0;
    z-index: 99999;
    background-color: transparent;
  }
  .captcha-error-cntnt{
    p{
        display: block;
        border: 2px solid $err-color;
        background-color: #fafafa;
        margin: 0;
        width: 100%;
        padding: 10px 15px;
        font-size: 12px!important;
        text-align: left;
        color: $err-color !important;
        font-size: 12px!important;
    }
}



.dl-overlay{
    min-height: 250px;
    background-color: $mb-white;
    position: absolute;
    width: 100%;
    z-index: 9999;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    opacity: 0;
    &-hide{
      opacity: 0;
      display: none;
    }
    &-show{
      opacity: 1;
      display: block;
    }
    transition: all ease-in 500ms;
    .b2c-title {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 14px !important;
      margin: 0 auto;
      text-align: center;
      &::before {
        content: "";
        background: url("../../../assets/imgs/loading-compass.svg") no-repeat center center;
        background-size: 20px 20px;
        display: inline-block;
        width: 20px;
        height: 20px;
        transform: translateZ(0) scale(1, 1);
        -webkit-transform: translateZ(0) scale(1, 1);
        -ms-transform: translateZ(0) scale(1, 1);
        transform: translateZ(0) scale(1, 1);
        -webkit-animation: spin 2.5s linear infinite;
        animation: spin 2.5s linear infinite;
        outline: 1px solid transparent;
    }
    .loading-txt{
      float: right !important;
      padding-left: 5px !important;
      font-size: 14px !important;
     padding-top: 2px !important;
    }
   }
  }
  @media screen and(max-width:$screen-sm) {
      .mob-my-account {
          float: left;
          width: 100%;
          padding: 0px 15px 0 15px;
      }
      .paymentCards .myaccount-edit, .paymentCards .myaccount-remove, .paymentCards .myaccount-default {
        text-decoration: none !important;
        padding: 2px 11px;
        background: url(/assets/imgs/arrow_sub_nav.png) no-repeat 0px 4px;
    }
    .my-account h2#myaccPaymentDtls {
        padding: 15px;
        margin: 0;
        font-size: 15px;
        font-weight: 700;
        color: #000;
        padding-top: 0;
    }
  }